sub {
  font-size: 1rem;
}

body{
  background: rgba(9, 9, 11, 1);
  margin: 0;
  width: 100vw;
  height: 1000px;
  
}

header{
  user-select: none;
  background: #1B1A27;
  position: fixed;
  top: 0;
  min-width: 300px;
  width: 100%;
  max-height: 50px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 0px 1px  black;
  z-index: 100;
}

.app_name{
  max-width: 400px;
  text-wrap: nowrap;
  line-height: 50px;
  font-size: calc(2vw + 1rem);
  font-weight: 900;
  color: #4FEBFF;
  text-align: center;
  letter-spacing: calc(0.5vw);
}

.profile{
  border-radius: 5px;
  max-height: 40px;
  display :flex;
  gap: 20px;
  align-items: center;
/*  border: 1px solid white;*/
  margin :5px 20px;
  border: 2px solid #FFFFFF;
  padding: 0 10px;
}

.menu{
  border-radius: 5px;
  height: 30px;
  width: 30px;
  text-align: center;
  border: 1px solid #FFFFFF;
  font-weight: bold;
  margin: 0 20px;
  font-size: 1.5rem;
  color: #84DFEF;
  margin-bottom: 10px;
  }
  
  a{
    color: #84DFEF;
  }
  
.profile_pic{
  height: 40px;
  width: 40px;
  background: #84DFEF;
  border-radius: 50%;
  text-align: center;
  line-height: 0px;
  position: relative;
  
}

.uid{
  font-size: 1.2rem;
  color: #E3E3E3;
  font-family: monospace;
  line-height: 50px;
  font-weight: bold;
  text-wrap: nowrap;

}

.demo_profile_pic{
  height: 100%;
  width: 100%;
  position: absolute;
  top:-10px;
  font-size: 1.8rem;
  
  
  
}


@media (max-width: 500px) {
  .profile{
    letter-spacing: -2px;
  }
  .tt_time{
    font-size: 1.3rem;
  }
  .app_name{
    letter-spacing: -1px;
  }
    }
